body{
    background-color: pink;
    margin: 0;
    font-family: 'Comic Sans';
    -webkit-font-smoothing: antialiased;
}
*,
*:before,
*:after{
    box-sizing: border-box; 
}

.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: inherit;
    margin: 0;
    padding: 0;
}

.intro::after{
    content: "";
    display: none;
    height: 15%;
    width: 100%;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu-btn {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 38.5px;
    right: 38.5px;
    cursor: pointer;
    z-index: 1000;
}
  
.bar {
    width: 100%;
    height: 4px;
    background-color: black;
    margin: 6px 0;
    transition: transform 0.3s, opacity 0.3s;
}
  
.menu-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ff5555;
    color: #000000;
    width: 200px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}
  
.menu-container ul {
    list-style-type: none;
    padding: 0;
    color: #000000;
}
  
.menu-container ul li {
    padding: 10px 0;
    border-bottom: 1px solid #000000;
    color: #000000;
}
  
.menu-container ul li:last-child {
    border-bottom: none;
    color: #000000;
}

.menu-container ul li:hover {
    text-decoration: underline black;
    cursor: pointer; 
}

.menu-container ul li a {
    color: black; 
    text-decoration: none; 
}

.menu-container ul li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.logo{
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 0.45em;
}

p{
    display: block;
    font-size: 30px;
    text-align: center;
    padding-top: 500px;
}